body {
    background-color: #FFF2A0;
    font-family: Arial, sans-serif;
}

.container {
    width: 90%;
    max-width: 700px;
    margin: 30px auto;
    background-color: white;
    padding: 20px;
    border-radius: 15px;
}

h1 {
    background-color: #7D9C65;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.expense-form {
    margin-top: 25px;
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 6px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}